/global.json
/WashTestTask.sln.DotSettings.user
/WashUnitTests/obj/
/WashUnitTests/bin/
/WashTestTask/bin/
/WashTestTask/obj/
/SaleCreationService/bin/
/SaleCreationService/obj/
/Data/bin/
/Data/obj/
/.idea/